body {
  margin: 0;
  padding: 0;
  font-family: 'Courier New', Courier, monospace;
  background-image: url('img.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

nav {
  width: 100%;
  background-color:white;
  display: flex;
  font-size: 28px;
  align-items:center;
  justify-content: space-around;
  color:black;
}

nav li{
  display:inline-block;
  margin: 0 8px;
}

nav a{
  text-decoration: none;
}

.logo {
  font-size: 30px;
  font-weight: bolder;
}

nav a:hover{
    color:aqua;

}

.menu-line{
  height: 3px;
  width: 20px;
  background-color: black;
  margin-bottom: 3px;

}

.menu{
  cursor: pointer;
  display: none;
}

@media all and (max-width:640px){
  nav{
    flex-direction:column;
  }
  nav li{
    display: block;
    padding:10px 0;
  }

  ul{
    text-align: center;
    padding:0px;
    display:none;
  }

  .logo{
    align-self: flex-start;
    margin: 10px 0px 0px 30px;
  }

  .menu{
    display: block;
    position:absolute;
    right:20px;
    top:25px;
  }

.showmenu{
  display: block;
}
}



